
@{
    ViewBag.Title = "Leczenie";
    Layout = "~/Views/Shared/MenuLekarz.cshtml";
    var id = TempData["ID"];
    var wizyta = TempData["Wizyta"];
}
<style>
    #historia{
        color:cornflowerblue;
    }
</style>
<h4>Pacjent:  @TempData["Pacjent"], lat @TempData["Wiek"]. &ensp;  <a id="historia" href=""> Historia pacjenta</a></h4>
<div style="float:right">
    Cena:<br />
    @Html.TextBox("Cena")<br />
    <input type="button" class="button-danger" value="Zamknij wizytę" onclick="ZamknijWizyte()" />
    </div>
<div id="container" class="row">   
    <div id="zeby" class="col-md-5">
        @Html.Action("ListaZebow", new { id})
    </div>

    <div id="rozpoznanie" class="col-md-1" style="position:center; margin-top:200px;">
        
        
    </div>

    <div id="rozpoznanie" class="col-md-5">
        @Html.Action("Rozpoznanie")
        <br />
         <input type="button" class="button" value="Dodaj leczony ząb do historii wizyty" onclick="DodajLeczenie()" />
    </div>    
</div>
<br />
<h4>Leczone zęby</h4>
<div id="lista"> 
    @Html.Action("ListaLeczenia", new { wizyta})
</div>
<script>
    function DodajLeczenie() {
         debugger;
        var zab1 = $('#GL').val();
        var zab2 = $('#GP').val();
        var zab3 = $('#DL').val();
        var zab4 = $('#DP').val();
        var rozp = $('#Rozpoznanie').val();
        var kat = $('#Kategoria').val();

        if ((zab1 != 0 && zab2 != 0) || (zab1 != 0 && zab3 != 0) || (zab1 != 0 && zab4 != 0) || (zab2 != 0 && zab3 != 0) || (zab2 != 0 && zab4 != 0) || (zab3 != 0 && zab4 != 0) ) {
            alert("Tylko jeden ząb naraz może byc dodany!");
        }
        else {
            if (zab1 != 0 || null) {
            var dg = "Szczęka";
            var lp = "Lewa";
        }
        else if (zab2 != 0 || null) {
            var dg = "Szczęka";
            var lp = "Prawa";
        }
        else if (zab3 != 0 || null) {
            var dg = "Żuchwa";
            var lp = "Lewa";
        }
        else if (zab4 != 0 || null) {
            var dg = "Żuchwa";
            var lp = "Prawa";
        }

        $.ajax({
            type: 'POST',
            url: '/Lekarz/ZapisLeczenie',
            data: { zab1: zab1, zab2: zab2, zab3: zab3, zab4: zab4, dg: dg, lp: lp, rozp: rozp, kat: kat, wizyta: @wizyta },
            success: function (data) {
                $('#lista').html(data);
            }
        })
        }
        
    }
</script>