
@{
    ViewBag.Title = "Leczenie";
    var id = TempData["ID"];
    var wizyta = TempData["Wizyta"];
    var pacjent = TempData["PacjentID"];
}
<style>
    #historia{
        color:cornflowerblue;
    }
</style>
<div id="all">
<h4>Pacjent:  @TempData["Pacjent"], lat @TempData["Wiek"]. &ensp;  <a id="historia" href="/Lekarz/Historia?pacjentID=@pacjent"> Historia pacjenta</a> @Html.Action("Cena", new { wizyta })</h4>
<div style="float:right">
   
    </div>
<div id="container" class="row">   
    <div id="zeby" class="col-md-4">
        @Html.Action("ListaZebow", new { id })
    </div>

    <div id="rozpoznanie" class="col-md-1" style="position:center; margin-top:200px;">
        
        
    </div>

    <div id="rozpoznanie" class="col-md-4">
        @Html.Action("Rozpoznanie")
        <br />
        
    </div>
    <div id="proced" class="col-md-2" style="position:center;">
        <br />
         Procedura:<br />
    @Html.Action("Procedura")<br />
    <input type="button" class="button" value="Dodaj ząb do historii wizyty" onclick="DodajLeczenie()" />
    <input type="button" class="button-danger" value="Zamknij wizytę" onclick="ZamknijWizyte()" />
        
    </div>
</div>
<br />
<h4>Leczone zęby</h4>
<div id="lista"> 
    @Html.Action("ListaLeczenia", new { wizyta })
</div>
    </div>
<script>
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                    type: 'POST',
                    url: '/Lekarz/Cena',
                    data: {wizyta: @wizyta},
                    success: function (data) {
                        $('#cenka').html(data);
                    }
                })
        }, 500)
    })

    function DodajLeczenie() {
         debugger;
        var zab1 = $('#GL').val();
        var zab2 = $('#GP').val();
        var zab3 = $('#DL').val();
        var zab4 = $('#DP').val();
        var rozp = $('#Rozpoznanie').val();
        var kat = $('#Kategoria').val();
        var zabieg = $('#Zabieg').val();

        if (rozp != "") {
            if ((zab1 != 0 && zab2 != 0) || (zab1 != 0 && zab3 != 0) || (zab1 != 0 && zab4 != 0) || (zab2 != 0 && zab3 != 0) || (zab2 != 0 && zab4 != 0) || (zab3 != 0 && zab4 != 0) ) {
            alert("Tylko jeden ząb naraz może byc dodany!");
        }
        else {
            if (zab1 != 0 || null) {
            var dg = "Szczęka";
            var lp = "Lewa";
        }
        else if (zab2 != 0 || null) {
            var dg = "Szczęka";
            var lp = "Prawa";
        }
        else if (zab3 != 0 || null) {
            var dg = "Żuchwa";
            var lp = "Lewa";
        }
        else if (zab4 != 0 || null) {
            var dg = "Żuchwa";
            var lp = "Prawa";
            }           
            }        
        

        $.ajax({
            type: 'POST',
            url: '/Lekarz/ZapisLeczenie',
            data: { zab1: zab1, zab2: zab2, zab3: zab3, zab4: zab4, dg: dg, lp: lp, rozp: rozp, kat: kat, wizyta: @wizyta, zabieg: zabieg },
            success: function (data) {
                $('#lista').html(data);
                $.ajax({
                    type: 'POST',
                    url: '/Lekarz/Cena',
                    data: {wizyta: @wizyta},
                    success: function (data) {
                        $('#cenka').html(data);                        
                    }
                })
            }
        })
        }
        
    }

    function ZamknijWizyte() {
        debugger;
        var cena = $('#cenka').text();
        $.ajax({
            type: 'POST',
            url: '/Lekarz/ZamknijWizyte',
            data: { wizyta: @wizyta, cena: cena },
            success: function () {
                alert("Wizyta została zamknięta");
                window.location.href = "/Lekarz/Wizyta";
            }
        })

    }
</script>