@model IEnumerable<Dental.Models.ListaWizytModel>

@{
    ViewBag.Title = "MenuLekarz";
   
}
<div id="lista">
<h4>Na dzień @TempData["Data"] zaplanowano @TempData["Wizyty"] @if (TempData["Wizyty"].Equals(1)) { @Html.Label("wizytę") }  else if (TempData["Wizyty"].Equals(0)) {@Html.Label("wizyt") } else {@Html.Label("wizyty") }.</h4><br />

@Html.Label("Wybierz date:")
@Html.TextBox("Data")<br />
<br />

    @using GridMvc.Html


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.Imie).Titled("Imię");
    columns.Add(a => a.Nazwisko).Titled("Nazwisko");
    columns.Add(a => a.PESEL).Titled("PESEL");
    columns.Add(a => a.Godzina).Titled("Godzina");
    columns.Add(a => a.Stan).Titled("Stan");   
    columns.Add(a => a.Uwagi).Titled("Uwagi");
   
}).WithPaging(20).Sortable(true).Filterable(true).WithMultipleFilters()
    
</div>
<script>
    $(document).ready(function () {
        $('#Data').datepicker({
            format: 'dd.mm.yyyy',
            daysOfWeekDisabled: [0, 6],
        });

        $('#Data').change(function () {
            var dane = $(this).val();
            $.ajax({
                type: 'POST',
                url: '/Lekarz/ListaWizyty',
                data: { data: dane },
                success: function (data) {
                    $('#lista').html(data);
                }
            });
        })
    })
</script>