@model Dental.Models.DodajPlacowkeModel

@{
    
    Layout = "~/Views/Shared/MenuAdmin.cshtml";
}

<style>
    #ex1 a:link{
        color:blue;
    }
</style>

@using (Html.BeginForm("SavePlacowka", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-body row" style="padding-left: 300px; margin-right:100px; padding-bottom: 100px; padding-top:50px">
        
        <div class="col-md-4">            
            <div id="part1">
            @Html.Label("Nazwa:")<br />            
                @Html.TextBoxFor(model => model.Nazwa, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nazwa)<br />

        
            @Html.Label("Telefon:")<br />             
                @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Telefon)<br />
        
            @Html.Label("Email:")<br />             
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)<br />                        
                                
                
                 @Html.Label("Wojewodztwo:")<br />             
                @Html.EnumDropDownListFor(model => model.Wojewodztwo, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Wojewodztwo)<br />                
                </div>
        </div>

        <div class="col-md-4">
            <div id="part2">
                 @Html.Label("Miasto:")<br />             
                @Html.TextBoxFor(model => model.Miasto, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Miasto)<br />

                  @Html.Label("Ulica:")<br />             
                @Html.TextBoxFor(model => model.Ulica, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ulica)<br />

            @Html.Label("Numer:")<br />             
                @Html.TextBoxFor(model => model.Numer, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Numer)<br />

        
            <input type="submit" class="button" value="Zapisz"/><br />
                <div class="text-danger">
                    @ViewBag.Message
                </div>                

            </div>
        </div>        
    </div>
}
