@model Dental.Models.DodajPersonelModel

@{
    
    Layout = "~/Views/Shared/MenuAdmin.cshtml";
}

<h4>Dodaj personel</h4>
@using (Html.BeginForm("ZapiszPersonel", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-body row" style="padding-left: 150px; margin-right:100px; padding-bottom: 100px;">
        
        <div class="col-md-4">            
            <div id="part1">
            @Html.Label("Imię:")<br />            
                @Html.TextBoxFor(model => model.Imie, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Imie)<br />

        
            @Html.Label("Nazwisko:")<br />             
                @Html.TextBoxFor(model => model.Nazwisko, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nazwisko)<br />
        
            @Html.Label("Gabinet:")<br />             
                @Html.DropDownListFor(model => model.Placowka, Model.PlacowkaList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Placowka)<br />                        
                                
                
                 @Html.Label("Typ:")<br />             
                @Html.DropDownListFor(model => model.Typ, Model.ListaTyp, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Typ)<br />
                
                @Html.Label("Specjalizacja:")<br />             
                @Html.DropDownListFor(model => model.Specjalizacja, Model.ListaSpecjalizacji, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Specjalizacja)<br />
                
        </div>
      </div>

        <div class="col-md-4">
            <div id="part2">
                 @Html.Label("Email:")<br />             
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Email)<br />

                  @Html.Label("Telefon:")<br />             
                @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Telefon)<br />

            @Html.Label("Hasło:")<br />             
                @Html.TextBoxFor(model => model.Haslo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Haslo)<br />
               
              @Html.Label("Powtórz hasło:")<br />             
                @Html.TextBoxFor(model => model.PowtorzHaslo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PowtorzHaslo)<br />

                 @Html.Label("Województwo:")<br />            
                @Html.DropDownListFor(model => model.Wojewodztwo, Model.ListaWojewodztwa, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Wojewodztwo)<br />
                
            </div>
        </div>
        
        <div class="col-md-4">
            <div id="part3">
            @Html.Label("Miasto:")<br />            
                @Html.TextBoxFor(model => model.Miasto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Miasto)<br />

        
            @Html.Label("Ulica:")<br />             
                @Html.TextBoxFor(model => model.Ulica, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ulica)<br />
        
            @Html.Label("Numer:")<br />             
                @Html.TextBoxFor(model => model.Numer, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Numer)<br />                                 
                
                 @Html.Label("Kod:")<br />             
                @Html.TextBoxFor(model => model.Kod, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Kod)<br />
                <br />
                
                 <input type="submit" class="button" value="Zapisz"/><br />
                <div class="text-danger">
                    @ViewBag.Message
                </div>                
             </div>
        </div>
    </div>
}
