@model DAL.Model.Rachunek

@{
    ViewBag.Title = "RozliczWizyte";
    Layout = "~/Views/Shared/MenuAdmin.cshtml";

    var listItem = new List<SelectListItem>()
    {
        new SelectListItem(){Value = "Gotówka", Text = "Gotówka"},
        new SelectListItem(){Value = "Karta Płatnicza", Text = "Karta Płatnicza"}
    };
    var wizyta = TempData["Wizyta"]; 
}

<h4>Rozlicz wizytę</h4>



    <div class="modal-body row" style="padding-left: 450px; margin-right:100px; padding-bottom: 100px; padding-top:50px;">
        
        <div class="col-md-5">            
            <div id="part1">
            @Html.HiddenFor(model => model.RachunekID)

            @Html.Label("Cena:")<br />            
                @Html.TextBoxFor(model => model.Cena, new { @class = "form-control" })
                

        
            @Html.Label("Rabat w %:")<br />             
                @Html.TextBoxFor(model => model.Rabat, new { @class = "form-control" })
                
        
            @Html.Label("Forma zapłaty:")<br />             
                @Html.DropDownList("Forma", new SelectList(listItem, "Value", "Text"), new { @class = "form-control" })
                                     
                                                
                 @*@Html.Label("Faktura:")<br />             
                @Html.TextBoxFor(model => model.Faktura, new { @class = "form-control"})*@
                                 

                @Html.Action("KwotaDoZapłaty", new { Model.Cena})
                <br />
                <input type="submit" class="button" value="Zapisz" onclick="ZapiszRachunek()" /><br />
        </div>
      </div>
    </div>

<script>
    $(document).ready(function () {
        $("#Rabat").change(function () {
            var rabat = $("#Rabat").val();
            var cena = $("#Cena").val();
            $.ajax({
                type: 'POST',
                url: '/Admin/Rabat',
                data: {rabat: rabat, cena: cena},
                success: function (data) {
                    $('#kwota').html(data);

                }
            })
        })
    })

    function ZapiszRachunek() {
        debugger;
        var cena = $('#Cena').val();
        var rabat = $('#Rabat').val();
        var forma = $('#Forma').val();
        var kwota = $('#kwota').text();
        var id = $('#RachunekID').val();

        $.ajax({
            type: 'POST',
            url: '/Admin/SaveRachunek',
            data: { id: id, cena: cena, rabat: rabat, forma: forma, kwota: kwota, wizyta: @wizyta },
            success: function () {
                alert('Wizyta została prawidłowo rozliczona.');
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Wizyta',
                    data: '',
                    success: function () {

                    }
                })
            }
        })
    
    }
</script>