@model Dental.Models.SzybkaWizytaModel


<div id="all">
<h4>Wyszukaj pacjenta</h4>

<div style="color:red">
    @TempData["Zapisano"]
</div>

<div class="modal-body row" style="padding-top:30px; padding-bottom:20px;">
    <div class="col-md-3">
            <div id="part1">
                @Html.Label("Imię:")<br />
                @Html.TextBoxFor(model => model.Imie, new { @class = "form-control" })<br />
                
            </div>
        </div>
    <div class="col-md-3">
             <div id="part2">
                @Html.Label("Nazwisko:")<br />
                @Html.TextBoxFor(model => model.Nazwisko, new { @class = "form-control" })<br />
                </div>
        </div>
    
        <div class="col-md-3">
            <br />
            <input type="button" class="button" value="Szukaj" onclick="SzukajPacjent()"/><br /> 
        </div>
    <div class="col-md-3">
            <br />
            <input type="button" class="button" value="Nowy Pacjent" style="background-color:dodgerblue;" onclick="NowaWizyta()"/><br /> 
        </div>
</div>

<div id="wynik" style="padding-top:50px; height:100px;">
    Lista wyników
    @Html.Action("ListaWyszukiwania")
</div>
<div id="edit">

</div>
</div>
<script>
   function NowaWizyta() {
        $.ajax({
            type: 'GET',
            url: '/Admin/NowaWizyta',
            success: function (data) {
                $('#all').html(data);
            }
        });
    }
        
    function SzukajPacjent() {
        var imie = $('#Imie').val();
        var nazwisko = $('#Nazwisko').val();
        $.ajax({
            type: 'POST',
            url: '/Admin/ListaWyszukiwania',
            data: { imie: imie, nazwisko: nazwisko },
            success: function (data) {
                $('#wynik').html(data);
            }
        });
    };
</script>