@model Dental.Models.LogowanieModel

<div class="row" style=" padding-left: 350px; margin-right:100px; padding-bottom: 150px; padding-top:100px">
	<div class="col-md-4" style="-webkit-box-shadow: 6px -5px 18px -4px rgba(0,0,0,0.47);
        -moz-box-shadow: 6px -5px 18px -4px rgba(0,0,0,0.47);
        box-shadow: 6px -5px 18px -4px rgba(0,0,0,0.47); border-radius: 25px 25px 25px 25px;
        -moz-border-radius: 25px 25px 25px 25px;
        -webkit-border-radius: 25px 25px 25px 25px;
        border: 0px solid #000000;">        
        
		<h3>Zaloguj się do systemu.</h3><br />
	    <div id="logowanie">
            @using (Html.BeginForm("Logowanie", "Logowanie", FormMethod.Post))
            {
		    @Html.Label("Email:")
		    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)<br />

	    	@Html.Label("Hasło:")
	    	@Html.TextBoxFor(model => model.Haslo, new { @class = "form-control", @type = "password" })
            @Html.ValidationMessageFor(model => model.Haslo)<br />
		        <input type="submit"  class="button" value="Zaloguj" />                
            }
            <input type="button" class="button" value="Nie pamiętam hasła" onclick="location.href='@Url.Action("ResetHaslaView", "Logowanie")'"/><br />
            <div class="text-danger">
                @ViewBag.Message
            </div>
            <div style="color:forestgreen">
            @TempData["PoprawnyReset"]
        </div>
	    </div>
    </div>

<div class="col-md-5" style="-webkit-box-shadow: 6px -5px 18px -4px rgba(0,0,0,0.47);
-moz-box-shadow: 6px -5px 18px -4px rgba(0,0,0,0.47);
box-shadow: 6px -5px 18px -4px rgba(0,0,0,0.47); margin-left: 100px; border-radius: 25px 25px 25px 25px;
-moz-border-radius: 25px 25px 25px 25px;
-webkit-border-radius: 25px 25px 25px 25px;
border: 0px solid #000000;">
		<div id="rejestracja" >        
		<h3>Niemasz jeszcze konta w naszym serwisie?</h3><br />
            <h4>Zarejestruj się teraz!</h4>
            <div id="rejestracjaTeraz" style="padding-left:120px; padding-top:40px;" >            
		   <input type="submit" class="button" style="width:150px;" value="Załóż konto"  onclick="location.href='@Url.Action("Rejestracja", "Logowanie")'"/><br />
		   </div>
          </div>
	</div>
</div>

			

