@model Dental.Models.EditPacjentModel

@{
    
    
    Layout = "~/Views/Shared/MenuPacjent.cshtml";
}


<h4>Edycja Danych</h4>

@using (Html.BeginForm("SaveEdit", "Pacjent", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-body row" style="padding-left: 250px; margin-right:100px; padding-bottom: 100px">
        
        <div class="col-md-4">            
            <div id="part1">
                @Html.HiddenFor(model => model.PacjentID)
            @Html.Label("Imię:")<br />            
                @Html.TextBoxFor(model => model.Imie, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Imie)<br />

        
            @Html.Label("Nazwisko:")<br />             
                @Html.TextBoxFor(model => model.Nazwisko, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nazwisko)<br />
        
            @Html.Label("PESEL:")<br />             
                @Html.TextBoxFor(model => model.PESEL, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PESEL)<br />

        
            @Html.Label("Telefon:")<br />             
                @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Telefon)<br />
                
                 @Html.Label("Email:")<br />             
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)<br />
                
                 @Html.Label("Hasło:")<br />             
                @Html.TextBoxFor(model => model.Haslo, new { @class = "form-control", @type="password" })
                @Html.ValidationMessageFor(model => model.Haslo)<br />
                
                  <input type="submit" class="button" value="Zapisz"/><br />
                <div class="text-danger">
                    @TempData["Success"]
                </div>
                
                </div>
        </div>

        <div class="col-md-4">
            <div id="part2">
                 @Html.Label("Powtórz hasło:")<br />             
                @Html.TextBoxFor(model => model.PowtorzHaslo, new { @class = "form-control", @type="password" })
                @Html.ValidationMessageFor(model => model.PowtorzHaslo)<br />

                  @Html.Label("Województwo:")<br />             
                @Html.TextBoxFor(model => model.Wojewodztwo, new { @class = "form-control" } )<br />

            @Html.Label("Miasto:")<br />             
                @Html.TextBoxFor(model => model.Miasto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Miasto)<br />

        
            @Html.Label("Ulica:")<br />             
                @Html.TextBoxFor(model => model.Ulica, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ulica)<br />

        
            @Html.Label("Numer:")<br />             
                @Html.TextBoxFor(model => model.Numer, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Numer)<br />

        
            @Html.Label("Kod:")<br />             
                @Html.TextBoxFor(model => model.Kod, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Kod)<br />
                <input type="button" class="button-danger" value="Usuń konto" onclick="Delete()"/><br />
            </div>
        </div>        
    </div>
}
<div id="mod" class="modal" style="width:auto; height:auto">    
        <div id="Dolnośląskie"><a href="#" rel="modal:close" style="color:black">Dolnośląskie</a></div>
        <div id="Kujawsko_Pomorskie"><a href="#" rel="modal:close" style="color:black">Kujawsko-Pomorskie</a></div>
        <div id="Lubelskie"><a href="#" rel="modal:close" style="color:black">Lubelskie</a></div>
        <div id="Lubuskie"><a href="#" rel="modal:close" style="color:black">Lubuskie</a></div>
        <div id="Łódzkie"><a href="#" rel="modal:close" style="color:black">Łódzkie</a></div>
        <div id="Małopolskie"><a href="#" rel="modal:close" style="color:black">Małopolskie</a></div>
        <div id="Mazowieckie"><a href="#" rel="modal:close" style="color:black">Mazowieckie</a></div>
        <div id="Opolskie"><a href="#" rel="modal:close" style="color:black">Opolskie</a></div>
        <div id="Podkarpackie"><a href="#" rel="modal:close" style="color:black">Podkarpackie</a></div>
        <div id="Podlaskie"><a href="#" rel="modal:close" style="color:black">Podlaskie</a></div>
        <div id="Pomorskiem"><a href="#" rel="modal:close" style="color:black">Pomorskiem</a></div>
        <div id="Śląskie"><a href="#" rel="modal:close" style="color:black">Śląskie</a></div>
        <div id="Świetokrzyskie"><a href="#" rel="modal:close" style="color:black">Świetokrzyskie</a></div>
        <div id="Warmińsko_Mazurskie"><a href="#" rel="modal:close" style="color:black">Warmińsko-Mazurskie</a></div>
        <div id="Wielkopolskie"><a href="#" rel="modal:close" style="color:black">Wielkopolskie</a></div>
        <div id="Zachodniopomorskie"><a href="#" rel="modal:close" style="color:black">Zachodniopomorskie</a></div>        
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
