@model Dental.Models.EditPacjentModel

@{
        
    Layout = "~/Views/Shared/MenuPacjent.cshtml";
}


<h4>Edycja Danych</h4>

@using (Html.BeginForm("SaveEdit", "Pacjent", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-body row" style="padding-left: 250px; margin-right:100px; padding-bottom: 100px">
        
        <div class="col-md-4">            
            <div id="part1">
                @Html.HiddenFor(model => model.PacjentID)
            @Html.Label("Imię:")<br />            
                @Html.TextBoxFor(model => model.Imie, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Imie)<br />

        
            @Html.Label("Nazwisko:")<br />             
                @Html.TextBoxFor(model => model.Nazwisko, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nazwisko)<br />
        
            @Html.Label("PESEL:")<br />             
                @Html.TextBoxFor(model => model.PESEL, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PESEL)<br />

        
            @Html.Label("Telefon:")<br />             
                @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Telefon)<br />
                
                 @Html.Label("Email:")<br />             
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)<br />
                
                 @Html.Label("Hasło:")<br />             
                @Html.TextBoxFor(model => model.Haslo, new { @class = "form-control", @type="password" })
                @Html.ValidationMessageFor(model => model.Haslo)<br />

                 @Html.Label("Data urodzenia:")<br />             
                @Html.TextBoxFor(model => model.DataUrodzenia, new { @class = "form-control"})                
                <br />
                  <input type="submit" class="button" value="Zapisz"/><br />
                <div class="text-danger">
                    @TempData["Success"]
                </div>
                
                </div>
        </div>

        <div class="col-md-4">
            <div id="part2">
                 @Html.Label("Powtórz hasło:")<br />             
                @Html.TextBoxFor(model => model.PowtorzHaslo, new { @class = "form-control", @type="password" })
                @Html.ValidationMessageFor(model => model.PowtorzHaslo)<br />

                  @Html.Label("Województwo:")<br />             
                @Html.DropDownListFor(model => model.Wojewodztwo, Model.ListaWojewodztwa, new { @class = "form-control" } )<br />

            @Html.Label("Miasto:")<br />             
                @Html.TextBoxFor(model => model.Miasto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Miasto)<br />

        
            @Html.Label("Ulica:")<br />             
                @Html.TextBoxFor(model => model.Ulica, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ulica)<br />

        
            @Html.Label("Numer:")<br />             
                @Html.TextBoxFor(model => model.Numer, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Numer)<br />

        
            @Html.Label("Kod:")<br />             
                @Html.TextBoxFor(model => model.Kod, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Kod)<br />
                <br />
                <input type="button" class="button-danger" value="Usuń konto" onclick="Delete()"/><br />
            </div>
        </div>        
    </div>
}
<script>
    $(document).ready(function () {
         $('#DataUrodzenia').datepicker({
            format: 'dd.mm.yyyy',
            daysOfWeekDisabled: [0, 6],
        });
        $('#DataUrodzenia').val("");
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
