@model Dental.Models.DodajWizyteModel
@{

    Layout = "~/Views/Shared/MenuPacjent.cshtml";
    
}

<h4>Umów sie na wizytę</h4>
<div style="color:red">
    @ViewBag.Message
</div>

    <div class="modal-body row" style="padding-left: 250px; margin-right:100px; padding-bottom: 100px; padding-top:100px">

        <div class="col-md-4">
            <div id="part1">
                @Html.Label("Miasto:")<br />
                @Html.DropDownListFor(model => model.Miasto, Model.ListaMiast, "Wybierz", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Miasto)<br />
            </div>
                <div id="part2">
                    @Html.Action("WizytaGabinet")
                </div>

                <div id="part3">
                    @Html.Action("WizytaLekarz")
                </div>

                <div id="part4">
                    @Html.Label("Data:")<br />
                    @Html.TextBoxFor(model => model.Data, new { @class = "form-control" })
                </div>
                <div id="part8">                   
                    @Html.HiddenFor(model => model.Stan, new { @class = "form-control" })<br />
                </div>
        </div>
        <div class="col-md-4">
                <div id="part5">
                     @Html.Action("WizytaGodzina")<br />
                </div>

                <div id="part6">                    
                    @Html.Label("Rodzaj wizyty:")<br />
                    @Html.DropDownListFor(model => model.Rodzaj, Model.ListaRodzajow,  new { @class = "form-control" })<br />
                </div>

                 <div id="part7">                    
                    @Html.Label("Typ wizyty:")<br />
                    @Html.DropDownListFor(model => model.Typ, Model.ListaTypy, new { @class = "form-control" })<br />
                </div>                 
                
                <div id="part9">
                    @Html.Label("Uwagi:")<br />
                    @Html.TextAreaFor(model => model.Uwagi, new { @class = "form-control" })<br />
                </div>
                <input type="button" class="button" value="Zapisz" onclick="SaveWizyta()"/><br />                
            </div>
        </div>  
<script>
    $(document).ready(function () {
        $('#Data').datepicker({
            format: 'dd.mm.yyyy',
            daysOfWeekDisabled: [0,6],
            
        });

         $('#Data').change(function () {
                debugger;
             var lekarz = $('#LekarzID').val();
             var gabinet = $('#GabinetID').val();
             var data = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: '/Pacjent/WizytaGodzina2',
                    data: { placowkaID: gabinet, lekarz: lekarz, data: data },
                    success: function (data) {
                        $('#part5').html(data);
                    }

                });

            })
    })

    function SaveWizyta() {        
        var gabinet = $('#GabinetID').val();
        var lekarz = $('#LekarzID').val();
        var data = $('#Data').val();
        var godzina = $('#Godzina').val();
        var rodzajWizyty = $('#Rodzaj').val(); 
        var typWizyty = $('#Typ').val();
        var stan = $('#Stan').val();
        var uwagi = $('#Uwagi').val();
        debugger;

        if (gabinet == "" || lekarz == "" || data == "" || godzina == "" || rodzajWizyty == "" || typWizyty == "") {
            alert("Uzupełnij dane!");
        }
        else 
        {
            $.ajax({
                type: 'POST',
                url: '/Pacjent/SaveWizyta',
                data: { gabinet: gabinet, lekarz: lekarz, data: data, godzina: godzina, rodzajWizyty: rodzajWizyty, typWizyty: typWizyty, stan: stan, uwagi: uwagi },
                success: function (data) {
                    alert("Wizyta został utworzona!");
                }
            });
        }
    }
</script>

